@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.categ-title {
  text-align: center;
}

.nagiator-img {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}
.card-category {
  overflow: hidden;
  box-shadow: 0 2px 20px gray;
  border: radius 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  cursor: pointer;
  transition: transform 200ms ease-in;
  height: 30rem;
}

.btn {
}
