@tailwind base;
@tailwind components;
@tailwind utilities;

.beauty-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
/* .products-container {
  margin-top: -4rem;
  width: 400rem;
  margin-left: -8rem;
} */
.wrapper {
  /* margin-top: -100px; */
  box-sizing: border-box;
  border: 2px #121212 solid;
  background-color: #161313;
  width: 12rem;
  height: 120rem;
}
.third-verticale {
  

  /* display: flex; */
  /* justify-content:flex-start; */
  
  /* flex-direction: column; */
  width: auto;
  height: auto;
  border: #f36060 2px solid;
}

.categ-title {
  text-align: center;
}

.nagiator-img {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}
.card-category {
  overflow: hidden;
  box-shadow: 0 2px 20px gray;
  border: radius 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  cursor: pointer;
  transition: transform 200ms ease-in;
  height: 30rem;
}



.aa {
  margin-top: 100px;
  margin-left: 200px;
}
