.fade-anim img {
  animation: fadeAnim 0.5s ease-out;
}
@keyframes fadeAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slider-container {

}
.image-slider {
  width: 100%;
  height: 27rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
